@page "/DetailsMetas/{MetaId:int}"

@inject MetasService metasService;
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<EditForm Model="Meta">
  <DataAnnotationsValidator />

    <div class="card shadow-lg border-0 rounded" style="background-color: #f8f9fa;">
        <div class="card-header bg-primary text-white text-center py-2 rounded">
            <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Detalles de Metas</h3>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col-md-5 mb-3">
                    <label style="font-weight: bold; display: inline-block; margin-left: 150px;">Fecha:</label>
                    <span>@Meta.Fecha</span>
                </div>

                <div class="col-md-7 mb-3">
                    <label style="font-weight: bold; display: inline-block; margin-left: 170px;">Persona:</label>
                    <span>@Meta.Descripcion</span>
                </div>

                <div class="col-md-7 mb-3">
                    <label style="font-weight: bold; display: inline-block; margin-left: 170px;">Monto:</label>
                    <span>@string.Format("{0:N2}", Meta.Monto)</span>
                </div>

            </div>


        </div>

        <div class="card-footer bg-light d-flex justify-content-end">
            <div class="btn-group">
                <a type="button" href="/MetasIndex/" class="btn btn-outline-danger"><span class="fas fa-arrow-left"></span> Retroceder </a>
            </div>
        </div>
    </div>

</EditForm>

@code {

    public Metas Meta = new Metas();

    [Parameter]
    public int MetaId { get; set; }

    protected override async Task OnInitializedAsync()
    {
      if (MetaId > 0)
      {
         Meta.MetaId = MetaId;
         await Buscar();
      }
    }

    public async Task Buscar()
    {
        var existe = await metasService.Buscar(Meta.MetaId);
       if (existe != null)
       {
            Meta = existe;
       }
    }
}

